@import "../../../variables.scss";

.navbar{
    background-color: $primary;
    height: $navheight;
    box-shadow: 0 0 8px black;
    width: 100%;
    display: flex;
    justify-content: center;

    .inner{
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .links{
            display: flex;
            height: 100%;
            align-items: center;
        }

        .title{
            height: 100%;
            display: flex;
            font-size: 2.7rem;
            align-items: center;
            color: transparent;
            background-image: linear-gradient(to right, rgb(213, 23, 238), rgb(222, 90, 240));
            -webkit-background-clip: text;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
}